In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

In [2]:
df = pd.read_excel("../data/raw/sales.xlsx", index_col = 'Row ID')
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Row ID,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,2016-08-11 00:00:00,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,CA-2016-152156,2016-08-11 00:00:00,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
3,CA-2016-138688,2016-12-06 00:00:00,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
4,US-2015-108966,2015-11-10 00:00:00,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
5,US-2015-108966,2015-11-10 00:00:00,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

Imported the sales dataset and named it df.

In [3]:
df.shape

(9994, 20)

There are 9994 rows and 21 columns.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, 1 to 9994
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9994 non-null   object
 1   Order Date     9994 non-null   object
 2   Ship Date      9994 non-null   object
 3   Ship Mode      9994 non-null   object
 4   Customer ID    9994 non-null   object
 5   Customer Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.6+ MB

In [5]:
df.columns = df.columns.str.replace(" ", "_")
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, 1 to 9994
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9994 non-null   object
 1   Order_Date     9994 non-null   object
 2   Ship_Date      9994 non-null   object
 3   Ship_Mode      9994 non-null   object
 4   Customer_ID    9994 non-null   object
 5   Customer_Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal_Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product_ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product_Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.6+ MB

In [6]:
df.loc[:,'Order_Date']

Row ID
1       2016-08-11 00:00:00
2       2016-08-11 00:00:00
3       2016-12-06 00:00:00
4       2015-11-10 00:00:00
5       2015-11-10 00:00:00
               ...
9990              1/21/2014
9991              2/26/2017
9992              2/26/2017
9993              2/26/2017
9994    2017-04-05 00:00:00
Name: Order_Date, Length: 9994, dtype: object

The 'Order_Date' column has data with mixed formats.

In [7]:
df['Order_Date'] = pd.to_datetime(
    df['Order_Date'],
    errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9994 entries, 1 to 9994
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order_ID       9994 non-null   object
 1   Order_Date     9994 non-null   datetime64[ns]
 2   Ship_Date      9994 non-null   object
 3   Ship_Mode      9994 non-null   object
 4   Customer_ID    9994 non-null   object
 5   Customer_Name  9994 non-null   object
 6   Segment        9994 non-null   object
 7   Country        9994 non-null   object
 8   City           9994 non-null   object
 9   State          9994 non-null   object
 10  Postal_Code    9994 non-null   int64
 11  Region         9994 non-null   object
 12  Product_ID     9994 non-null   object
 13  Category       9994 non-null   object
 14  Sub-Category   9994 non-null   object
 15  Product_Name   9994 non-null   object
 16  Sales          9994 non-null   float64
 17  Quantity       9994 non-null   int64
 18  Discount       9994 non-null   float64
 19  Profit         9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(2), object(14)
memory usage: 1.6+ MB

In [8]:
df['Order_Date']

Row ID
1      2016-08-11
2      2016-08-11
3      2016-12-06
4      2015-11-10
5      2015-11-10
          ...
9990   2014-01-21
9991   2017-02-26
9992   2017-02-26
9993   2017-02-26
9994   2017-04-05
Name: Order_Date, Length: 9994, dtype: datetime64[ns]

I changed the 'Order Date' column to datetime dtype.

In [9]:
print(df['Order_Date'].isna().sum())

0

All fields are correct.

In [10]:
df['year'] = df['Order_Date'].dt.year
df['month'] = df['Order_Date'].dt.month
df['day'] = df['Order_Date'].dt.day
df['weekday_1to7'] = df['Order_Date'].dt.isocalendar().day
df['quarter'] = df['Order_Date'].dt.quarter

In [11]:
df.weekday_1to7

Row ID
1       4
2       4
3       2
4       2
5       2
       ..
9990    2
9991    7
9992    7
9993    7
9994    3
Name: weekday_1to7, Length: 9994, dtype: UInt32

In [12]:
df['weekday_name'] = df['Order_Date'].dt.day_name()  # for plots
df['weekday_name']

Row ID
1        Thursday
2        Thursday
3         Tuesday
4         Tuesday
5         Tuesday
          ...
9990      Tuesday
9991       Sunday
9992       Sunday
9993       Sunday
9994    Wednesday
Name: weekday_name, Length: 9994, dtype: object

In [13]:
df['is_weekend'] = (df['weekday_1to7'] >= 6).astype(int)
df['is_weekend']

Row ID
1       0
2       0
3       0
4       0
5       0
       ..
9990    0
9991    1
9992    1
9993    1
9994    0
Name: is_weekend, Length: 9994, dtype: int64

I created the additional columns for better Exloratory Data Analysis.

In [14]:
df['Postal_Code'] = df['Postal_Code'].astype("object")

In [15]:
df.isnull().sum()

Order_ID         0
Order_Date       0
Ship_Date        0
Ship_Mode        0
Customer_ID      0
Customer_Name    0
Segment          0
Country          0
City             0
State            0
Postal_Code      0
Region           0
Product_ID       0
Category         0
Sub-Category     0
Product_Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
year             0
month            0
day              0
weekday_1to7     0
quarter          0
weekday_name     0
is_weekend       0
dtype: int64

There are no missing values.

In [16]:
df['Region'] = df['Region'].str.lower().str.strip()
df['Category'] = df['Category'].str.lower().str.strip()

In [17]:
df.duplicated().sum()

np.int64(1)

In [18]:
df[df.duplicated(keep=False)]

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,...,Quantity,Discount,Profit,year,month,day,weekday_1to7,quarter,weekday_name,is_weekend
Row ID,,,,,,,,,,,,,,,,,,,,,
3406,US-2014-150119,2014-04-23,4/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,...,2,0.3,-12.0588,2014,4,23,3,2,Wednesday,0
3407,US-2014-150119,2014-04-23,4/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,...,2,0.3,-12.0588,2014,4,23,3,2,Wednesday,0

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.duplicated().sum()

np.int64(0)

I checked for the duplicate rows in my data and removed them.

In [23]:
df = df[df['Sales'] >= 0]

In [26]:
df = df[df['Quantity'] > 0]

In [29]:
df['profit_ratio'] = round((df['Profit']/df['Sales']),3)
df

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Customer_ID,Customer_Name,Segment,Country,City,State,...,Discount,Profit,year,month,day,weekday_1to7,quarter,weekday_name,is_weekend,profit_ratio
Row ID,,,,,,,,,,,,,,,,,,,,,
1,CA-2016-152156,2016-08-11,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,0.00,41.9136,2016,8,11,4,3,Thursday,0,0.160
2,CA-2016-152156,2016-08-11,2016-11-11 00:00:00,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,0.00,219.5820,2016,8,11,4,3,Thursday,0,0.300
3,CA-2016-138688,2016-12-06,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,0.00,6.8714,2016,12,6,2,4,Tuesday,0,0.470
4,US-2015-108966,2015-11-10,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,0.45,-383.0310,2015,11,10,2,4,Tuesday,0,-0.400
5,US-2015-108966,2015-11-10,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,0.20,2.5164,2015,11,10,2,4,Tuesday,0,0.112
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9990,CA-2014-110422,2014-01-21,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,...,0.20,4.1028,2014,1,21,2,1,Tuesday,0,0.162
9991,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,0.00,15.6332,2017,2,26,7,1,Sunday,1,0.170
9992,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,0.20,19.3932,2017,2,26,7,1,Sunday,1,0.075
9993,CA-2017-121258,2017-02-26,2017-03-03 00:00:00,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,...,0.00,13.3200,2017,2,26,7,1,Sunday,1,0.450
9994,CA-2017-119914,2017-04-05,2017-09-05 00:00:00,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,...,0.00,72.9480,2017,4,5,3,2,Wednesday,0,0.300

In [31]:
df.to_csv(r"D:\sales-forecast-ml-project\data\processed\sales_processed_data.csv", index=False)

In [33]:
df = pd.read_csv(r"D:\sales-forecast-ml-project\data\processed\sales_processed_data.csv")